html, body{
  height: 98%;
  background-color: #61a570;
}

#top-fold {
  min-width:95%;
  min-height: 95%;
  left: 2.5%;
}

#nav {
  display: inline-block;
  margin-left: 2%;
}

#nav>.nav-element>h2:hover{
  background-color: #3A884F;
}

#desk {
  display: inline-flex;
  height: 100%;
}

#coffeeCup {
  position: fixed;
  padding: 1%;
  right: 15%;
  bottom: 25%;
}

#laptop {
  position: fixed;
  bottom:10%;
  right: 25%;
  padding: 1%;
}

#papers {
  position: fixed;
  left: 15%;
  bottom: 5%;
  padding: 1%;
}

#pictureFrame {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 1%;
}

#solderIron {
  position: fixed;
  left: 75%;
  top: 15%;
  padding: 1%;
}

#solderIronOverlay {
  position: fixed;
  left: 75%;
  top: 15%;
  padding: 1%;
  z-index: 1;
}

#Adventure-nav {
  margin-top: 15px;
}

.project-list {
  visibility: visible;
  width: 100%;
  margin-left: 10%;
  height: auto;
  max-height: 40px;
  opacity: 1;
  transition: max-height 500ms ease-in, opacity 250ms 250ms;
}

.project-list.hide {
  transition: max-height 500ms 250ms ease-in, opacity 250ms 250ms;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
}

.project-list-item {
  height: auto;
  max-height: 10px;
}

.project-list-item.hide {
  max-height: 0px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  display: table;
  color: #fffbda;
}

h2 {
  margin: 6px;
}

h3 {
  font-size: 10pt;
}