

#top-fold {
  min-width:95%;
  min-height: 95%;
  left: 2.5%;
}

#nav {
  display: inline-block;
  margin-left: 2%;
}

#nav>.nav-element>h2:hover{
  background-color: #3A884F;
}

#desk {
  display: inline-flex;
  height: 100%;
}

#coffeeCup {
  position: absolute;
  padding: 1%;
  right: 15%;
  bottom: 30%;
  cursor: pointer;
}

#laptop {
  position: absolute;
  top:10%;
  right: 25%;
  padding: 1%;
}

#papers {
  position: absolute;
  left: 15%;
  bottom: 20%;
  padding: 1%;
}

#pictureFrame {
  position: absolute;
  left: 25%;
  top: 10%;
  padding: 1%;
}

#solderIron {
  position: absolute;
  left: 75%;
  top: 10%;
  padding: 1%;
}

#solderIronOverlay {
  position: absolute;
  left: 75%;
  top: 10%;
  padding: 1%;
  z-index: 1;
  cursor: pointer;
}

#Adventure-nav {
  margin-top: 18px;
}

#content-list {
  margin-right: 2.5%;
  opacity: 1;
  position: relative;
  left: 0px;
  transition: opacity 125ms 125ms;
  width: 40%;
  display: inline-block;
}

#content-list.hide {
  margin-right: 2.5%;
  opacity: 0;
  transition: opacity 125ms 125ms;
}

#content-list.swipe {
  transition: left 1s 100ms ease-out;
  left: -1500px;
}

#stuff {
  overflow: hidden;
}

#content {
  width: 220%;
  margin-top: 20%;
  margin-left: 5%;
}

.project-list {
  visibility: visible;
  width: 100%;
  margin-left: 10%;
  height: auto;
  max-height: 200px;
  opacity: 1;
  transition: max-height 250ms ease-in, opacity 125ms 125ms;
}

.project-list.hide {
  transition: max-height 250ms 125ms ease-in, opacity 125ms 125ms;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
}

.project-list.hide.initial {
  transition: max-height 250ms 125ms ease-in, opacity 125ms 125ms;
  max-height: 0px;
  opacity: 0;
  margin-bottom: 15px;
  visibility: hidden;
}

.project-list-item {
  height: auto;
  max-height: 10px;
}

.project-list-item.hide {
  max-height: 0px;
}

.content-list-item {
  padding: 0.5%;
  margin: 1.5%;
  background-color: #3A884F;
}

.content-list-item>h2 {
  cursor: pointer;
}

.clickable-nav-element {
  cursor: pointer;
}

.project-list-item {
  cursor: pointer;
}

#back-button {
  margin-left: 5%;
  width: 5%;
  float: inline-start;
}

#article{
  width: 30%;
  display: inline-block;
  left: 0px;
  position: relative;
  vertical-align: top;
  opacity: 0;
}

#article.swipe {
  transition: left 1s 200ms ease-out, opacity 500ms;
  left: -1150px;
  opacity: 1;
}

.article-content {
  width: 30%;
  display: inline-flex;
  margin-left: 3%;
  padding-top: 3%;
}

html {
  overflow-y: scroll;
}

html, body{
  height: 98%;
  background-color: #61a570;
}

h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
  display: table;
  color: #fffbda;
}

h2 {
  margin-bottom: 6px;
  margin-top: 9px;
}

h3 {
  font-size: 10pt;
}