#desk {
  position: fixed;
  width:95%;
  height: 98%;
  left: 2.5%;
  top: 1%;
  background-color: #679e4c;
}

#coffee-cup {
  position: fixed;
  padding: 1%;
  right: 10%;
  bottom: 20%;
}

#laptop {
  position: fixed;
  top:15%;
  left: 50%;
  padding: 1%;
}

#papers {
  position: fixed;
  right: 50%;
  bottom: 5%;
  padding: 1%;
}

#picture-frame {
  position: fixed;
  right: 50%;
  bottom: 45%;
  padding: 1%;
}

#solder-iron {
  position: fixed;
  left: 75%;
  top: 15%;
  padding: 1%;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}