#desk {
  position: fixed;
  width:90%;
  height: 100%;
  left: 5%;
  top: 0;
  background-color: #679e4c;
  margin 0 auto;
}

#coffee-cup {
  position: relative;
  padding-left: 2%;
  left: 25%;
}

#laptop {
  position: relative;
  top:0;
  bottom: 25%;
  left: 40%;
  right: 0;
}

#papers {
  position: relative;
  right: 40%;
  padding-right: 2%;
}

#picture-frame {
  position: relative;
  right: 50%;
  bottom: 40%;
  padding-right: 2%;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}